.AgeEstimator{
    Color: #a00202;
    font-size : 90px;
    margin-left: 20%;
}
#fileToUpload{
    font-size: 18px;
    margin-left: 2%;
}
#Image{
    width: 27%;
    height: 70%;
}
.container{
    display :flex;
    flex-direction: row;
}